body{
  font-family: "OpenSans", "Monospaced";
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color:ivory;
}

h1{
  font-family: "Oswald", "Monospaced";
}

h2{
  font-family: "Oswald", "Monospaced";
}

img{
  float:left;
}

.left{
  float:left;
  width: 300px;
}

.right{
  float:right;
  width: 300px;
}
.center{
  margin-left: 300px;
  margin-right: 300px;
}

#contents li{
  display:inline;
  margin-left: 60px;
  margin-right: 60px;
}